@{
    ViewData["Titulo"] = "Contato";
}
<h2>@ViewData["Titulo"]</h2>
<h3>@ViewData["Mensegem"]</h3>

<address>
    Um jeito Tech de cuidar<br />
    Maringá, WhatsApp (44)99999-9999<br />
    <abbr title="Phone">T:</abbr>
    3333-3333
</address>

<address>
    <strong>Suporte:</strong> <a href="mailto:suportetechnohealth@example.com">suportetechnohealth@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketingtechnohealth@example.com">marketingtechnohealth@example.com</a>
</address>
