@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.png" alt="Techno Health" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Você está nos padrões da ANS?
                    <a class="btn btn-default" href="https://www.gov.br/ans/pt-br">
                        Saiba mais
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner2.png" alt="Techno Health" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Você faz parte dessa história?
                    <a class="btn btn-default" href="https://www.gov.br/ans/pt-br/assuntos/noticias/sobre-ans/outubro-planos-de-assistencia-medica-totalizam-50-2-milhoes-de-beneficiarios">
                        Saiba mais
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.png" alt="Techno Health" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Agenda Regulatória ANS.
                    <a class="btn btn-default" href="https://www.gov.br/ans/pt-br/acesso-a-informacao/participacao-da-sociedade/agenda-regulatoria">
                        Saiba mais
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Conceito</h2>
        <ul>
            <li><a href="https://xvifinance.com.br/o-que-e-ans/">A Agência Nacional de Saúde Suplementar (ANS) é a agência reguladora vinculada ao Ministério da Saúde responsável pelo setor de planos de saúde no Brasil</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>ANS Digital - Internos</h2>
        <ul>
            <li><a href="https://sei.ans.gov.br/controlador_externo.php?acao=usuario_externo_logar&id_orgao_acesso_externo=0">SEI produção</a></li>
            <li><a href="https://www.ans.gov.br/sip-ts/login.php?sigla_orgao_sistema=ANS&sigla_sistema=SEI&infra_url=L3NlaS10cy8v">SEI treinamento</a></li>
            <li><a href="http://www.planejamento.gov.br/pensei/sc-microsite/aplicativo-sei">SEI Móvel</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>ANS Digital - Externos</h2>
        <ul>
            <li><a href="https://www2.ans.gov.br/ans-idp/">Protocolo Eletrônico: somente operadoras</a></li>
            <li><a href="https://sei.ans.gov.br/controlador_externo.php?acao=usuario_externo_logar&id_orgao_acesso_externo=0">Protocolo Eletrônico: usuários no SEI</a></li>
            <li><a href="https://sei.ans.gov.br/controlador_externo.php?acao=documento_conferir&id_orgao_acesso_externo=0">Autenticidade de documentos</a></li>
            <li><a href="http://www.ans.gov.br/planos-de-saude-e-operadoras/espaco-do-consumidor/processos-do-consumidor/andamento-e-posse-de-documentos">Processos em papel</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Últimas Notícias</h2>
        <ul>
            <li><a href="https://www.gov.br/ans/pt-br/assuntos/operadoras/avisos-para-operadoras/ans-publica-versao-de-novembro-do-padrao-tiss">ANS publica versão de novembro do Padrão TISS</a></li>
            <li><a href="https://www.gov.br/ans/pt-br/assuntos/operadoras/avisos-para-operadoras/ans-divulga-orientacoes-sobre-o-cartao-nacional-de-saude">ANS divulga orientações sobre o Cartão Nacional de Saúde</a></li>
            <li><a href="https://www.gov.br/ans/pt-br/assuntos/operadoras/avisos-para-operadoras/ans-implementa-plataforma-de-avalicao-de-servicos">ANS implementa Plataforma de Avaliação de Serviços</a></li>
        </ul>
    </div>
</div>
