@{
    ViewData["Titulo"] = "SOBRE NÓS";
}
<h2>@ViewData["Titulo"]</h2>
<h3>@ViewData["Mensagem"]</h3>

<p>
    A Techno Health é uma aplicação que visa gerenciar receitas de operadoras de Saúde. Esta primeira versão permite à gestão administrar usuários, operadoras que fazem parte do rol de clientes bem como ver os status de tais receitas(faturado, pendente, ...), enfim a gestão que a sua empresa precisa!
</p>
<p>
    Sabemos que o trabalho em tecnologia mudou. E aqui na nossa solução usamos do que o CSharp oferece, como:
    <ul>
        <li>Generics</li>
        <li>Set</li>
        <li>Lambda</li>
        <li>Delegates</li>
        <li>LINQ</li>
        <li>Tratamento de Exceções</li>
        <li>E muito mais do que a Orientação a Objetos fornece...</li>
    </ul>
</p>

<p>
    <strong>
        A confiança que você precisa do jeito Tech que você merece!
    </strong>
</p>

<p>Desenvolvido por @ViewData["Desenvolvedor"].</p>
<i>Versão 1.0</i>
